<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Directory password - Change this to a secure password -->
    <add key="DirectoryPassword" value="soldbywaterfront"/>
  </appSettings>
  
  <system.web>
    <compilation debug="false" targetFramework="4.5"/>
    
    <!-- Authentication settings -->
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" timeout="30" slidingExpiration="true" protection="All"/>
    </authentication>
    
    <!-- Authorization settings - require users to be authenticated -->
    <authorization>
      <deny users="?"/>
    </authorization>
    
    <!-- Custom error pages -->
    <customErrors mode="RemoteOnly" defaultRedirect="Default.aspx"/>
  </system.web>
  
  <!-- Allow anonymous access to the login page -->
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Allow anonymous access to image files -->
  <location path="wflogo.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="wflogo2.jpg">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <!-- Block directory listing and add search engine exclusion headers -->
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Robots-Tag" value="noindex, nofollow" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration> 